@import url('https://fonts.googleapis.com/css2?family=Karla&family=Source+Sans+3&display=swap');
:root {
  --bgColor: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
  --h1Size: 72px;
  --h2Size: 64px;
  --h3Size: 36px;
  --h4Size: 24px;
  --h5Size: 18px;
  --h6Size: 12px;
  --pSize: 16px;
  --karlaFont: 'Karla', sans-serif;
  --soureSansFont: 'Source Sans 3', sans-serif;
}
* ,html{
  box-sizing: border-box;
}
body{
    padding: 0;
    background: #F6F7F9;
    position: relative;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

/* Navigation Area */
.navigation{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    padding: 20px 4rem;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1;
    background: var(--bgColor);
    margin: auto;
    position: relative;
  }
  .navLinks{
    z-index: 14;
      display: flex;
      column-gap: 25px;
      list-style-type: none;
      font-family: 'Karla', sans-serif;
      font-size: 25px;
      transition: border-bottom 0.3s;
  }
  
  .nav-link {
    text-decoration: none; 
    padding: 10px; 
    color: black; 
  }
  .nav-link:hover{
    border: 4px solid #73D677;
    border-radius: 15px;
    
   
  }
  .nav-link.active {
    z-index: 0;
    border-bottom: 4px solid #73D677; /* Add border bottom for active link */
  }
  .hamburger {
    display: none; /* Hide by default */
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: transform 0.3s ease;
  }

/* Main Content */
.main-content{
    margin-top: 50px;
}

.head-line{
    text-align: center;
    font-size: 3rem;
    font-family: var(--karlaFont);
}
/* Form area */
.main-content__search{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

#searchPokemon{
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    color: rgba(33, 33, 33, 0.8);
    background-color: #F2F2F2;
    border: 1px solid  rgba(209, 200, 200, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    margin-bottom: 15px;
}

.filteration{
    font-family: var(--soureSansFont);
}
.filteration select {
    min-width: 10vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 1.5em;
    /* Add some styles for the dropdown */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    padding: 8px 12px;
}

/* Style when select element is focused */
.filteration select:focus {
    outline: none;
    border-color: #5b9dd9;
    box-shadow: 0 0 5px rgba(91, 157, 217, 0.5);
}

/* Style when select element is hovered */
.filteration select:hover {
    background-color: #e0e0e0;
}

.filteration button{
 background: #73D677;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-size: 1rem;
  padding: .5em 1em;
  border: none;
  font-family: var(--karlaFont);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.filteration button:hover{
    background: #87e78b;
  }
  
/* Form area */




/* Main section area */
.main-content{}
.pokemons-container{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    gap: 15px;
    justify-content: center;
    scroll-behavior: smooth; /* Smooth scrolling behavior */

}



/* Pokemon Card */
.pokemonCard{
    display: flex;
    
    max-width: 358px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.pokemon-stats{
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "name name name"
                        "attack defense ."
                        "types types types";
    column-gap: 10px;
    font-family: var(--soureSansFont);
}

.pokemon-stats h2{
    grid-area: name;
   
}
.pokemon-stats .attack_container{
    grid-area: attack;
    
    
}
.attack_container div{
    border: 3px solid black;
    font-weight: bold;
    border-radius: 50px;
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.attack_container p{
    color: #4B4B4B;
    font-family: var(--karlaFont);
    font-weight: bold;
}
.pokemon-stats .defense_container{
    grid-area: defense;
}
.defense_container div{
    border: 3px solid black;
    font-weight: bold;
    border-radius: 50px;
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.defense_container p{
    color: #4B4B4B;
    font-family: var(--karlaFont);
    font-weight: bold;
}
.pokemon-stats .types{
    display: flex;
    column-gap: 10px;
}
.pokemon-stats .types{
    grid-area: types;
}

.types div{
    font-size: 15px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 20px;
    color: #F2F2F2;

}
.types .type1{
    background-color: #F2B807;
}

.pokemon_image{
    display: flex;
    align-items: center;
}
.pokemon_image img{
    
    height: 200px;
    width: 200px;
}



/* Pagination Area */
.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #73D677;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-size: 1rem;
  padding: .5em 1em;
  border: none;
  font-family: var(--karlaFont);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}
.load-more-btn:hover {
  background-color: #0056b3;
}



@media all and (max-width: 768px){
    .hamburger {
        z-index: 10;
        width: 100%;
        display: block; /* Show for smaller screens */
      }
      .navigation{
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 4px 7px;
      }
      .navLinks {
        z-index: 2;
        display: none; /* Hide navigation links by default */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 30px; /* Adjust top position based on your header height */
        left: 0;
        background: var(--bgColor); /* Adjust background color */
        width: 100%;
        padding: 20px;
        gap:20px;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
      }
    
      .navLinks.active {
        display: flex;
      }
    
      .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }

      
}
