@import url('https://fonts.googleapis.com/css2?family=Karla&family=Source+Sans+3&display=swap');
:root {
  --bgColor: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
  --h1Size: 72px;
  --h2Size: 64px;
  --h3Size: 36px;
  --h4Size: 24px;
  --h5Size: 18px;
  --h6Size: 12px;
  --pSize: 16px;
  --karlaFont: 'Karla', sans-serif;
  --soureSansFont: 'Source Sans 3', sans-serif;
}
* ,html{
  box-sizing: border-box;
}
body{
  padding: 0;
  background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
  position: relative;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
}









/* HERO SECTION  */
.hero-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  padding: 2rem;
  margin: 4rem;
  min-height: 700px;
  z-index: 1; 
  margin: 4rem auto;
}

/* HERO SECTION  Contents */

.head-line{
  font-size: 3em;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 5px;
}
.head-line span{
  font-weight: bold;
}
.hero-paragraph{
  font-size: var(--h3Size);
  font-family: var(--soureSansFont);
}
.hero-section__button{
  background: #73D677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-size: 23px;
  padding: 20px 40px;
  border: none;
  font-family: var(--karlaFont);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-section__button:hover{
  background: #87e78b;
}

/* Banner area  */
.hero-section__banner{
  position: relative;
  width: initial;
}
.hero-section__banner .pokeball2 img{
  z-index: 2;
  right: 0;
  width: 250px;
  height: 250px;
  position: absolute;
  animation: rotatePokeball 25s linear infinite;
}
.hero-section__banner .clouds{
  z-index: 1;
  position: absolute;
  left: 0%;
  width: 550px;
  height: 400px;
  
}
.hero-section__banner .pokeball1 img{
  z-index: 3;
  width: 150px;
  height: 150px;
  right: 30px;
  left: 0;
  position: absolute;
  animation: rotatePokeball 50s linear infinite;
  
}
.hero-section__banner .pikachu img{
  z-index: 4;
  top: -10%;
  width: 550px;
  height: 550px;
  position: absolute;
  animation: jumpingPika 5s ease-in-out infinite;
}

/* Animation of each images in banner */
@keyframes rotatePokeball {
  0% {
    transform: rotate(0deg); /* Start rotation angle */
  }
  100% {
    transform: rotate(360deg); /* End rotation angle */
  }
}
@keyframes jumpingPika {
  0% {
    transform: translateY(0); /* Start at original position */
    
  }
  50% {
    transform: translateY(-30px); /* Jump up */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

/* Banner area  */

footer {
  
  text-align: center;
  background-color: inherit;
  padding: 10px;
  bottom: 0;
  width: 100%;

  font-family: var(--soureSansFont);
  background-color: var(--bgColor);
}

footer span {
  font-weight: bold;
  
}
@media all and (max-width: 768px) { 
  body{
    overflow: scroll;
  }
  .hamburger {
    z-index: 10;
    width: 100%;
    display: block; /* Show for smaller screens */
  }
  .navigation{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 4px 7px;
  }
  .navLinks {
    z-index: 2;
    display: none; /* Hide navigation links by default */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30px; /* Adjust top position based on your header height */
    left: 0;
    background: var(--bgColor); /* Adjust background color */
    width: 100%;
    padding: 20px;
    gap:20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  }

  .navLinks.active {
    display: flex;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }



  .hero-section{
    gap: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "banner"
                        "content";
    height: 100px;
    width: 50%;
    
    
  }
  .hero-section__banner{
 
    grid-area: banner;
    margin: 0;
    padding: 0;
}
  .hero-section {
 
    width: 300px;
     /* Adjust padding for mobile devices */
  }
  .hero-section__content{
    grid-area: content;
    text-align: center;
  }
  .head-line {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .hero-paragraph {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .hero-section__button {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 12px 24px; /* Adjust padding for smaller screens */
    width:100%;
  }

  .hero-section__banner{
    
  }
  .hero-section__banner .pokeball2 img{
    width: 100px;
    height: 100px;
    bottom: 30%;
  }
  .hero-section__banner .clouds{
    width: 200px;
    height: 100px;
    bottom: 20%;
    
  }
  .hero-section__banner .pokeball1 img{
    width: 60px;
    height: 60px;
    bottom: 50%;
    
  }
  .hero-section__banner .pikachu img{
    width: 200px;
    height: 200px;
    top: 20%;
  }
}
